.clients-section {
    padding-top: 60px;
    padding-bottom: 37px;

    background-color: $white-color;

    @media screen and (min-width: 768px) {
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }    
}

.clients-section__container {
    @include container(480px);

    @media screen and (min-width: 768px) {
        @include container(768px);
    }

    @media screen and (min-width: 1200px) {
        @include container(1200px);
    }   
}

.clients-section__title {
    @extend %title;

    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;

        font-size: 36px;
        line-height: calc(42 / 36);
    }
}

.clients-section__list {
    @extend %list;

    @include flex ();
    flex-wrap: wrap;
    gap: 12px;    
    
    @media screen and (min-width: 480px) {
        gap: 30px;
    }
}

.clients-section__item {
    @include flex();

    @media screen and (min-width: 768px) {
        @include grid (3, 30px);
    }

    @media screen and (min-width: 1200px) {
        @include grid (6, 30px);
    }
}

.clients-section__link {
    @include flex();

    padding: 15px 51px;

    border: 1px solid $icon-color-and-team-bcg;
    border-radius: 4px;

    @include transition(border);

    &:hover, 
    &:focus {
        border: 1px solid $accent;
    }

    @media screen and (min-width: 768px) {
        padding: 15px 59px;
    }

    @media screen and (min-width: 1200px) {
        padding: 15px 31px;
    }

}

.clients-section__icon {
    fill: $icon-color-and-team-bcg;

    .clients-section__link:hover & {
        fill: $accent;
    }
}