.footer-section__address-wrapper{
    @media screen and (min-width: 1200px) {
        margin-right: 70px;
    }
}

.footer-section__address {
    margin-top: 20px;
}

.footer-section__address-list {
    @extend %list;

    margin-bottom: 60px;
}

.footer-section__address-item {
    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.footer-section__address-link {
    @extend %link;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);

    color: $secondary-font-color;

    @include transition(color);

    &:hover,
    &:focus {
        color: $white-color;
    }
}