.portfolio-section{
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.portfolio-section__container {
    @include container(480px);

    @media screen and (min-width: 768px) {
        @include container(768px);
    }

    @media screen and (min-width: 1200px) {
        @include container(1200px);
    }
}