body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: $main-font-color;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
}

