$accent: #2196F3;
$main-font-color: #212121;
$secondary-font-color: #757575;
$btn-active: #188CE8;
$icon-color-and-team-bcg: #AFB1B8;
$white-color: #FFFFFF;
$black-color: #000000;
$features-and-services-icon-bcg: #F5F4FA;
$footer-bcg: #2F303A;
$hero-gradient-color: rgba(47, 48, 58, 0.4);
$box-shadow: rgba(0, 0, 0, 0.15);
$overlay-portfolio-color: rgba(33, 150, 243, 0.9);