.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;

    padding: 40px;

    background-color: $white-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
}

.modal__close-button {
    position: absolute;

    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    @include flex();

    background-color: $white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

    // @include transition (fill);

        &:hover,
        &:focus {
            fill: $accent;
        }
}

.modal__close-icon {
    width: 18px;
    height: 18px;
}

.modal__title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    margin-top: 2px;
    margin-bottom: 12px;
}

.modal-form {
    position: relative;
}

.modal-form__group {
    position: relative;

    margin-bottom: 10px;

}

.modal-form__field {
    width: 448px;
    height: 40px;

    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;

        &:hover,
        &:focus {
            outline: 1px solid $accent;
            border-radius: 4px;
        }
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;

        .modal-form__field:focus+&,
        .modal-form__field:hover+& {
            fill: $accent;
        }
}